@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  list-style:none;
  box-sizing: border-box;
}
.wrap{width:50%; height:auto; position: absolute; left: 50%; transform: translateX(-50%)translateY(20%); text-align: center; font-family: 'GangwonEdu_OTFBoldA'; background-color: rgba(0,0,0,0.5); color: #fff; }

/* form 공통 css */
.wrap form input{background-color: transparent; border:none; border-bottom: 1px solid #fff; padding: 6px 0;}
.wrap form input::placeholder{color: #fff; font-size: 20px;}

/* login-form css */
.wrap #login-form button{background-color: transparent; padding: 6px 12px;border: 1px solid #fff; color: #fff; border-radius: 10px;}
#greeting {font-size: 40px;}

/* todo-form css */
.wrap #todo-form{padding-top: 20px;}
.wrap #todo-form input{width: 60%; text-align:center; padding: 5px;font-family: 'GangwonEdu_OTFBoldA';}

#weather{padding-bottom: 23px;}

#clock{font-size: 100px;font-family: 'Roboto Mono', monospace; color: ;}

#todo-list button{background-color: transparent; border: none;}
.hidden{display: none;}
#todo-list span{}
img {position:absolute; width:100%; height:auto; left: 0px; top: 0px; right:0px; bottom:0px; z-index: -1;}
#quote{padding: 20px 0;}
#quote span{display: block;}